<h1>À propos</h1>

<p>Yalm a été conçu avec <a href="https://rubyonrails.org/">Ruby on Rails</a>, assaisonné d'un peu de <a href="https://getbootstrap.com/">Bootstrap</a> pour être présentable.</p>

<p>Le code source est disponible sur <a href="https://framagit.org/qabosse/yetanotherlibrarymanager"> ce dépôt Git</a>.</p>

<p>La développeuse est quant à elle joignable sur <a href="https://www.linkedin.com/in/c%C3%A9cile-gaubert-1b76a51b4/"> LinkedIn</a> ou <a href="mailto:qabosse[at]crans[dot]org">par mail</a> </p>
