<h1>Aide</h1>

<h2>Comment faire pour créer un compte ?</h2>
<p>Le serveur est tout petit et l'application n'est pas conçue pour être utilisée à large échelle donc la création de compte n'est pas publique.</p>
<p>Si vous me connaissez, vous avez probablement un moyen de me joindre et de me demander de vous créer des identifiants. Si vous ne me connaissez pas mais voulez tester l'application, n'hésitez pas à m'envoyer un <a href="mailto:qabosse[at]crans[dot]org">mail</a> pour me demander des accès.</p>

<h2>Comment ça marche ?</h2>
<ul>
  <li>Enregistrez les livres que vous voulez prêter, soit en saisissant les données vous-mêmes soit en les retrouvant avec l'ISBN.</li>
  <li>Enregistrez les gens à qui vous voulez prêter un/des livres (vous pouvez mettre une fausse adresse mail si les gens ne veulent pas donner la leur).</li>
  <li>Sur la page du livre, sélectionnez la personne à qui vous voulez prêter le livre puis faites "prêter". Le prêt est maintenant enregistré</li>
  <li>Pour rendre le livre ou le prêter à quelqu'un d'autre, allez sur la page du livre, sélectionnez "Personne" pour une restitution, ou le nom de la nouvelle personne à qui vous prêtez, et faites "prêter".</li>
</ul>

<h2>Mon mot de passe est-il stocké de façon sécurisée ? J'ai perdu mon mot de passe tu peux me le retrouver ? </h2>
<p>Les mots de passe sont chiffrés en utilisant <a href="https://fr.wikipedia.org/wiki/Bcrypt">Bcrypt</a>, et seule la version chiffrée est stockée en base de données. Je peux réinitialiser ce mot de passe si vous le perdez mais pas le retrouver.</p>
<p>Si vous avez perdu vos identifiants, contactez-moi par <a href="mailto:qabosse[at]crans[dot]org">mail</a> avec des éléments qui me permettent de vérifier que c'est bien vous qui avez créé le compte.</p>

<h2>Comment supprimer mes données ?</h2>
<p>Connectez-vous, allez sur la page "Mon compte" et supprimez votre compte, c'est tout ! Attention, c'est irréversible.</p>
