<h1>Yalm, qu'est-ce que c'est ?</h1>

<p>Yalm, Yet Another Library Manager, est comme son nom l'indique un gestionnaire de bibliothèque. Avez-vous déjà prêté un livre, puis oublié de relancer la personne à qui vous l'aviez prêté, puis oublié qui était cette personne, et fini par oublier l'existence du livre ? Si oui, vous pourriez probablement avoir l'usage de ce service.</p>

<h1>Yalm, comment ça marche ?</h1>

<p>Vous enregistrez vos livres, vous enregistrez les gens à qui vous prêtez des livres, et Yalm se charge de retenir qui a quoi et depuis quand. Bientôt vous pourrez même envoyer automatiquement un mail de rappel aux gens (et en recevoir un vous-même)</p>
