<% if @current_user %>
  <h1> <%=t(".welcome", name: @current_user.name)%> </h1>
<% else %>
  <%= form_tag "/sessions/login", method: :post, class: "session" do %>
    <label for="name"><%=t(".name")%></label>
    <input type="text" name="name"/>
    <label for="password"><%=t(".password")%></label>
    <input type="password" name="password"/>
    <button type="submit"><%=t(".login")%></button>
  <% end %>
<%end %>
