<%= form_for @reader do %>
  <label for="name"><%=t("readers.name") %></label><input type="text" name="name" value="<%= @reader.name %>" />
  <p><%= @reader.errors[:name].first %></p>
  <label for="mail"><%=t("readers.mail") %></label><input type="text" name="mail" value="<%= @reader.mail %>" />
  <p><%= @reader.errors[:mail].first %></p>
  <% if @reader.persisted? %>
    <button type="submit"><%=t("readers.update")%></button>
  <% else %>
    <button type="submit"><%=t("readers.add") %> </button>
  <% end %>
<% end %>
