<h1><%=t(".reader_list")%></h1>
<ul>
  <% @readers.each do |reader| %>
    <li><%= reader_link reader %>
      (<%= t("readers.n_books_borrowed", count: Book.by_reader(reader).length) %>)
      <%= button_to t("readers.delete"),
        { action: "destroy", id: reader.id },
        method: :delete,
        data: { confirm: t(".confirm_deletion") }
      %>
    </li>
  <% end %>
</ul>
<%=render "readers/form" %>
