<h1><%=@reader.name %></h1>
<ul>
  <li><%=t("readers.name")%> <%=@reader.name %></li>
  <li><%=t("readers.mail")%> <%=@reader.mail %></li>
  <li>Ajouté par : <%=@reader.user.name%></li>
  <% if @books&.first %>
  <li> <%=t("readers.n_books_borrowed", count: Book.by_reader(@reader).length) %> :
    <ul>
      <% @books.each do |book| %>
        <li><%=t(".title_borrowed_on_html", title: book_link(book), date: book.loan_date)%></li>
      <%end%>
    </ul>
  </li>
  <% end %>
</ul>
<%=render "readers/form" %>
<%= link_to t("readers.back_to"), readers_path%>
