
<%= form_for @user do %>
  <label for="name"><%=t("users.name")%></label>
  <input type="text" name="name" value="<%= @user.name %>" />
  <p><%= @user.errors[:name].first %></p>
  <label for="password"><%=t("users.password")%></label>
  <input type="text" name="password" value="<%= @user.password %>" />
  <p><%= @user.errors[:password].first %></p>
  <% if @user.persisted? %>
    <button type="submit"><%=t("users.update") %> </button>
      <% else %>
    <button type="submit"><%=t("users.add") %> </button>
  <% end %>
<% end %>
