<h1><%=t(".user_list")%></h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user_link user %>     <%= button_to t("users.delete"),
          { action: "destroy", id: user.id },
          method: :delete,
          data: { confirm: t(".confirm_deletion") }
        %></li>
  <% end %>
</ul>
<% if @current_user&.admin? %>
  <%=render "users/form" %>
<% end %>
