<%if @current_user&.admin? || @current_user==@user %>
  <h1><%=@user.name %></h1>
  <h2><%=t(".books")%></h2>
  <ul>
    <% @books.each do |book| %>
      <li><%= book_link book %> </li>
    <% end %>
  </ul>
  <h2><%=t(".readers") %></h2>
  <ul>
    <% @readers.each do |reader| %>
      <li><%= reader_link reader %> </li>
    <% end %>
  </ul>
  <h2><%=t("users.update")%></h2>
   <%=render "users/form" %>
   <%= button_to t("users.delete"),
        { action: "destroy", id: @user.id },
        method: :delete,
        data: { confirm: t("users.confirm_deletion") }
    %>
  <%= link_to t("users.back_to"), users_path%>
<%else%>
  <p><%=t("access_denied")%></p>
<%end%>
