<%= form_for @book do %>
  <label for="title"><%= t("books.title")%></label>
  <input type="text" name="title" value="<%= @book.title %>" />
  <p><%= @book.errors[:title].first %></p>
  <label for="author"> <%= t("books.author")%></label>
  <input type="text" name="author" value="<%= @book.author %>" />
  <p><%= @book.errors[:author].first %></p>
  <% if @book.persisted? %>
    <button type="submit"><%= t("books.update")%></button>
  <% else %>
    <button type="submit"><%= t("books.add")%></button>
  <% end %>
<% end %>

<p><%= t(".info")%> </p>
<%= form_with url: "/complete_from_isbn", method: :get, local: true do |form| %>
  <%= form.label :isbn, "ISBN du livre" %>
  <%= form.text_field :isbn %>
  <p><%= @book.errors[:isbn].first %></p>
  <button type="submit"> <%=t(".search_isbn")%></button>
<% end %>
