<h1><%=t(".book_list") %></h1>
<ul>
  <% @books.each do |book| %>
    <li><%= book_link book %>
      <%if book.reader %>
        (<%=t(".at")%> <%=reader_link book.reader %>)
      <% end %>
      <%= button_to t("books.delete"),
        { action: "destroy", id: book.id },
        method: :delete,
        data: { confirm: t(".confirm_deletion") }
      %>
    </li>
  <% end %>
</ul>
<% if @current_user %>
<h1><%=t("books.add") %></h1>
  <%=render "books/form" %>
<% end %>
