<h1><%=@book.title %></h1>
<ul>
  <li><%=t("books.title")%> : <%=@book.title %></li>
  <li><%=t("books.author")%> : <%=@book.author %></li>
  <li>Ajouté par : <%=@book&.user&.name%></li>
  <% if @book.reader %>
    <% if @book.user==@current_user %>
      <li> <%= t('.borrowed_by_on_html', name: @book.reader.name, date: @book.loan_date ) %></li>
    <%else%>
      <li><%=t(".borrowed")%></li>
    <%end%>
  <% end %>
</ul>
<% if @current_user == @book.user%>
<h2><%=t(".loan_info")%></h2>
 <%= render "readers/drop_down" %>
<h2><%=t("books.update")%></h2>
<%=render "books/form" %>
<% end %>
<%= link_to t("books.back_to"), books_path%>
