/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  @extend .container;
}

body > main { @extend .row;
  nav { @extend .col-lg-3;
    ul { @extend .list-group;
      li { @extend .list-group-item; }
    }
  }
  article { @extend .col-lg-9; }
}

div.alert {
  @extend .alert-primary;
}

.button_to input {
  @extend .btn;
  @extend .btn-outline-danger;
}

button {
  @extend .btn;
  @extend .btn-primary;
}

nav {
  @extend .navbar;
}

select {
  @extend .form-control;
/*  @extend .custom-select;*/
}

form {
}
