<%= render "sessions/login_form" %>

<nav>
  <%=link_to t(".home"), "/" %>
  <% if @current_user %>
    <%=link_to t(".books"), books_path %>
    <%=link_to t(".readers"), readers_path %>
    <% if @current_user&.admin? %>
      <%=link_to t(".users"), users_path %>
    <%else%>
      <%=link_to t(".myaccount"), "/users/#{@current_user.id}" %>  
    <% end %>
  <% end %>
  <%=link_to t(".help"), "/static_pages/help" %>
  <%=link_to t(".about"), "/static_pages/about" %>
  <% if @current_user %>
    <%=link_to t(".logout"), "/sessions/logout" %>
  <% end %>
</nav>
