<!DOCTYPE html>
<html>
  <head>
    <title>Yalm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <%if flash[:info] %>
      <div class="alert" role="alert"><%= flash[:info]%></div>
    <%end%>
    <header>
         <%= render "layouts/header"%>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
